@font-face {
font-family: 'Geometria';
font-display: swap;
src: url('../fonts/Geometria.eot');
src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria.woff') format('woff'),
url('../fonts/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal; 
}

@font-face {
font-family: 'Geometria-Bold';
font-display: swap;
src: url('../fonts/Geometria-Bold.eot');
src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Bold.woff') format('woff'),
url('../fonts/Geometria-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: 'Geometria-Medium';
	font-display: swap;
	src: url('../fonts/Geometria-Medium.eot');
	src: url('../fonts/Geometria-Medium?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin bold {
	font-family: 'Geometria-Bold',	sans-serif;
}

@mixin regular {
	font-family: 'Geometria',	sans-serif;
}

@mixin medium {
	font-family: 'Geometria-Medium',	sans-serif;
}